/**
 * Reset 
 */

.dropdown-menu {
	color: #666;
	font-size: 14px;
}


.input-text:hover {
	cursor: pointer;
}


.books-list {
}

.books-list .book {
	margin:0 15px 20px 0;
	width: 100px;
	float: left;
	background-color: #FFF;
	box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

.books-list .book-cover {
	width: 100px;
}

.books-list .book-title {
	font-size: 12px;
}

.books-add .add-form {
}

h3.title {
	font-size: 20px;
	line-height: 40px;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 20px;
}

.books-add label {
	width: 75px;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 30px;
	text-align: left;
	margin-right: 10px;
}

.books-add form p,
.books-add .number-picker {
	margin-bottom: 10px;
}

.books-add .add-result {
	width: 250px;
	/*padding: 20px;*/
	/*margin-left: 100px;*/
	max-width: 520px;
}

.books-add .add-result .book-show {
	width: 100%;
	height: 300px;
	position: relative;
}

.add-result .image-cover {
	width: 100%;
	height: inherit;
	display: block;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #27AE60;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.3),
		inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.add-result  .book-show::after{
	position: absolute;
	z-index: 9999;
	top: 0px;
	display: block;
	content: "";
	height: 100%;
	background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .4));
	border-right: 1px solid rgba(0, 0, 0, .008);
	width: 15px;
	box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.simditor {
	margin-bottom: 10px;
}

.right-container h2.title {
	height: 100px;
	color: #FFF;
	text-indent: 1.5em;
	background-color: #3498DB;
	border-top-right-radius: 4px;
	font: normal 24px/100px "Batch", "Microsoft YaHei";
}

.right-container h2.title .icons {
	margin-right: 15px;
} 


.upload {
	height: 32px;
	width: 287px;
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
}


.upload .upload-cover {
	width: 282px;
	height: 32px;
	margin-left: 85px;
} 

.upload .upload-cover .input-cover {
	width: 234px;
	float: left;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.upload .upload-cover .btn-cover {
	background-color: #F7F7F7;
	width: 45px;
	height: 30px;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	box-sizing:content-box;
	border-left: none;
	float: right;
}

.upload .upload-btn {
	position: absolute;
	width: 100%;
	background-color: #F7F7F7;
	top: 0px;
	left: 80px;
	opacity: 0;
}


.books-add .submit {
	display: inline-block;
	width: 400px;
	height: 40px;
	margin-top: 30px;
	background-color: #3498DB;
}
