/**
 * 
 */
@font-face{
	font-family: "Batch";
	src: url('../font/batch-icons-webfont.eot');
	src: url('../font/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
	  url('../font/batch-icons-webfont.woff') format('woff'),
	  url('../font/batch-icons-webfont.ttf') format('truetype'),
	  url('../font/batch-icons-webfont.svg#batchregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

.icon {
	font-family: "Batch";
}

.header .content,
.footer .content {
	border: none;
	background-color: transparent;
}

.footer {
	border-top: 1px solid #222;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}


.footer .content {
	padding: 0px;
	margin: 0px auto;
}
 
.footer .title {
	text-align: center;
	color: #eee;
	margin-bottom: 10px;
	font: normal 18px/1.5 "Microsoft Yahei";
	border-left: none;
 }

 .footer .title .icon {
 	margin-right: 5px;
 }

.footer .footer-nav  ul li {
	text-indent: 120px;
}

.footer .footer-nav  ul li a {
	font-size: 12px;
	line-height: 15px;
	color: #EEE;
}

.footer .footer-nav  ul li a:hover {
	color: #3498DB;
}

.footer .footer-nav ul li a .icon {
	margin-right: 5px;
}
.footer .column {
	width: 30%;
	border-right: 1px solid #222;
	box-shadow: 1px 0 0px rgba(255,255,255,.1);
}
.footer .logo {
	margin: 50px 0 40px 0;
	width: 250px;
}

.footer 
/**
* 原子类
**/
.center {
    margin: 0 auto;
}

.card {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	background-color: #FFF;
	border-radius: 4px;
}

.clear::after {
	width:0px;
	height: 0px;
	content: "";
	display: block;
	clear: both;
	border: none;
	background: transparent;
	visibility: hidden;
}

.avatar {
	display: block;
	border-radius: 50%;
}

.avatar-100 {
	width: 100px;
	height: 100px;
}

.avatar-50 {
	width: 50px;
	height: 50px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.main {
	width: 100%;
	height: 100%;
	background-color: #F6F8F8;
	/*padding-bottom: 50px; */
}

.content {
	width: 1000px;
	margin: 0 auto 50px auto;
}


.header {
	height: 80px;
	background-color: rgba(255, 255, 255, .9);
	margin-bottom: 50px;
	box-shadow: 0 0px 6px rgba(0, 0, 0, .1);
}

.header .content {
	margin: 0 auto;
}

.header .navigation {
	height: inherit;
	float: left;
}

.header .navigation ul,
.header .navigation ul li {
	height: inherit;
	display: block;
	padding: 0px;
	margin: 0px;
	font-size: 0px;
}

.header .user-area {
	height: inherit;
	position: relative;
}
.header .user-area .avatar {
	margin: 15px 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, .25);
	overflow: hidden;
	margin-left: 5px;
}
.header .user-area .avatar  img {
	display: block;
}

.header .user-area .user-title {
	height: inherit;
	padding: 20px 0 20px 10px;
}

.header .user-area .text-normal {
	font: italic 13px/15px Arial;
	color: #999;
	width: 100%; 
}

.user-area .user-title .username {
	font: normal 20px/25px Arial;
	color: #666;
}

.user-area .user-action {
	position: absolute;
	top: 85px;
	border-radius: 3px;
	/*overflow: hidden;*/
	border: 1px solid #E0E0E0;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	background-color: #FFF;
	display: none;
	z-index: 99999;
}

.user-area:hover .user-action {
	display: block;
}

.user-area .user-action .actions:after{
	display: block;
	width: 0px;
	height: 0px;
	content: "";
	position: absolute;
	top: -16px;
	left: 21px;
	border: 8px solid transparent;
	border-bottom-color:#FFF; 
	z-index: 999;
}

.user-area .user-action .actions:before{
	display: block;
	width: 0px;
	height: 0px;
	content: "";
	position: absolute;
	top: -18px;
	left: 20px;
	border: 9px solid transparent;
	border-bottom-color:#E0E0E0; 
	z-index: 998;
}
.user-area .user-action .actions li:first-child a{
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.user-area .user-action .actions li:last-child a{
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.user-area .user-action .actions li a {
	display: block;
	font: normal 14px/25px "Microsoft Yahei";
	padding: 3px 16px;
	color: #888;
}


.user-area .user-action .actions li a:hover {
	background-color: #3498DB;
	color: #FFF;
}

.header .user-area .login-btn,
.header .user-area .register-btn {
	display: inline-block;
	margin: 25px 0;
	width: 90px;
	height: 28px;
	text-align: center;
	float: left;
	line-height: 28px;
	border-top: none;
	border-bottom: none;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #3498DB;
	border-radius: 50px;
	color: #3498DB;
	transition: background-color 0.5s ease,
				color 0.5s ease;
}

.header .user-area .register-btn {
	margin-left: 10px;
	color: #27AE60;
	border-color: #27AE60;
}

.header .user-area .login-btn:hover {
	background-color: #3498DB;
	color: #FFF;
}

.header .user-area .register-btn:hover {
	background-color: #27AE60;
	color: #FFF;
}


.header .navigation ul li {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.header .navigation ul li:after {
	position: absolute;
	left: 0px;
	bottom: -5px;
	display: block;
	background-color: #3498DB;
	content: "";
	height: 5px;
	width: 100%;
	transition: all .1s ease;
}

.header .navigation ul li:hover::after,
.header .navigation ul li.current::after {
	display: block;
	bottom: 0px;
}

.header .navigation ul li a {
	height: inherit;
	display: block;
	font: bold 18px/80px "Batch", Arial;
	padding: 0px 15px;
	color: #2980B9;
}

.header .navigation ul li a:hover,
.header .navigation ul li.current a {
	color: #3498DB; 
}

.header .navigation ul li a span.icon {
	padding-right: 5px;
	font-size: 22px;	
} 

/** Search Form **/
.header .search {
	height: 30px;
	margin: 25px 10px 25px 10px;
	padding-left: 20px;
	border-left: 1px solid #E0E0E0;
}

.header .search-from {
	width: inherit;
	position: relative;
}

.header .search-from #s {
	width: 100px;
	border-radius: 30px;
	height: 28px;
	position: relative;
	text-indent: 10px;
	transition: width .5s ease;
}

.header .search-from #s:focus {
	border-color: #cAcAcA;
	width: 190px;

}

.header .search-from #headerSubmit {
	position: absolute;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	top: 0px;
	right: 0px;
	background: none;
	color: #BDC3C7;
	font: bold 14px/30px "Batch", Arial;
	text-align: center;
}

.header .search-from #headerSubmit:hover {
	cursor: pointer;
	color: #2C3E50;
}

.header .title a h1 {
	line-height: 80px;
	font-size: 40px;
	color: #FFF;
}

.footer {
	padding: 20px 0;
	background-color: #333;
}

.number-picker {
	width: 200px;
	height: 30px;
	overflow: hidden;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
}

.number-picker .reduce-number-btn,
.number-picker .add-number-btn {
	display: block;
	width: 20%;
	content: "+";
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	color: #666;
	background-color: #F6F6F6;
}

.number-picker .reduce-number-btn:hover,
.number-picker .add-number-btn:hover {
	cursor: pointer;
	color: #333;
	background-color: #F7F7F7;
}

.number-picker .number-text {
	display: block;
	border: 1px solid #E0E0E0;
	border-top: none;
	border-bottom: none;
	box-sizing: border-box;
	width: 60%;
	background-color: #FFF;
	height: 30px;
	text-align: center;
}



