.content {
	background-color: #FFF;
	margin-bottom: 50px;
	border-radius: 4px;
	border: 1px solid #E0E0E0;
}
.user-nav {
	border-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 230px;
	background-color: #373942;
	box-shadow: 2px 0px 4px rgba(0,0,0,.1);
}

.user-nav .navigation {
	padding-bottom: 20px;
}

.user-nav .user-card {
	height: 80px;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 8px;
	/*border-top-right-radius: 8px;*/
	/*padding-bottom: 20px;*/
	color: #FFF; 
}

.user-avastar {
	margin-right: 10px;
}

.user-card .user-bg {
	position: absolute;
	display: block;
	width: 240px;
	height: 90px;
	top: -2px;
	left: -2px;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

.user-card .user-info {
	position: absolute;
	margin: 15px 40px; 
}

.user-card .text-info {
	float: left;
	color: #FFF;
}

.user-card .text-info .username {
	display: block;
	margin-top: 10px;
	font: bold 20px/20px "Microsoft Yahei";
}

.user-card .text-info .level {
	font: italic 12px/15px "Microsoft Yahei";
}

.user-nav .navigation a {
	padding-left: 45px;
	display: block;
	color: #7b7d86;
	line-height: 50px;
	font-size: 14px;
	font-family: "Batch", "Microsoft Yahei";
}

.user-nav .navigation .icons {
	font-size: 18px;
}

.user-nav .navigation ul li ul li a {
	padding-left: 80px;
	line-height: 40px;
	font-size: 15px;
}

form p {
	margin-bottom: 10px;
}
.user-nav a:hover {
	background-color: #2f303a;
	color: #EAEAEA;
}

.user-nav a .icons {
	margin-right: 15px;
}


label {
	display: inline-block;
	width: 80px;
	width: 75px;
	font-size: 14px;
	line-height: 30px;
	/*text-align: right;*/
	margin-right: 10px;
	/*float: left;*/
}

input[type="text"], 
input[type="password"],
textarea {
	width: 280px;
} 

textarea {
	height: 100px;
}

.right-container {
	width: 770px;
	/*padding: 20px 25px;*/
}

.right-content {
	padding: 25px 30px;
	width: 710px;
}


.category-action {
	/*display: none;*/
}

.main-title {
	height: 80px;
	color: #FFF;
	text-indent: 1.5em;
	background-color: #3498DB;
	border-top-right-radius: 4px;
	font: normal 18px/80px "Batch", "Microsoft YaHei";
}

.main-title .icons {
	font-size: 20px;
	margin-right: 10px; 
}

h3.title {
	color: #777;
	line-height: 25px;
	font-size: 18px;
	margin-bottom: 15px;
	text-indent: 1em;
	border-left: 5px solid #3498DB;
}


 table {
		border-radius: 2px;
}

table td {
	font-size: 13px;
	color: #999;
}

